// $main-bg:#001f3f;
$bg-color:rgb(255, 255, 255);
$white:#fff;
$text-color-secondary:#ff6d6d;
$color-primary:red;
$text-color:#1C2833;
$box-shadow: 0px 3rem 8rem rgba(0, 0, 0, 0.1);
$linear-gradient:180deg,
transparent 70%,
rgba(130, 216, 216, .4);

// #ffe963
// #ff6d6d
// #8ad0ce
// #bdf7ff
// #4b595e